<div class="artist">
    <div class="artist__img">
        <img src="{{audio.image}}" onerror="this.src='{{audio.failsaveImage}}'" />
    </div>
    <div class="artist__info">
        <div class="artist__info-song-title">{{audio.title}}</div>
        <div class="artist__info-name">{{audio.singer}}</div>
    </div>
</div>