<div class="player__controls">
    <div class="btn">
        <div class="btn-prev"></div>
    </div>
    <div class="btn">
        <div class="btn-play"></div>
    </div>
    <div class="btn">
        <div class="btn-next"></div>
    </div>
</div>