@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  position: relative;
  font-size: 62.5%; // 1rem = 10px, 10/16

  @include respond(big-desktop) {
    font-size: 87.5%; // 1rem = 14px, 14 / 16
  }

  @include respond(desktop) {
    font-size: 62.5%; // 1rem = 10px, 14 / 16
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9 / 16
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8 / 16
  }

  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px, 6 / 16
  }
}



@import "animation";